.nav-ul {
  display: flex;
  list-style: none;
  padding-top: 24px;
}

.header-ul {
  display: flex;
  list-style: none;
  padding-top: 24px;
}

.qwe {
  display: flex;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
.nav-li {
  margin-right: 50px;
}
.header-a {
  margin-right: 93px;
  padding-top: 24px;
}
.aa {
  margin-left: 344px;
}
.header-li {
  margin-right: 50px;
}
.main-ul {
  display: flex;
  list-style: none;
  padding-top: 25px;
}
.ul-li {
  margin-right: 20px;
}
.ul-a {
  margin-left: 344px;
}
.li-a {
  margin-left: 511px;
}
.ul {
  display: flex;
  list-style: none;
  padding-top: 56px;
}
.li:not(:last-child) {
  margin-right: 30px;
}
.portfolio2-ul {
  display: flex;
  list-style: none;
  padding-top: 30px;
}
.photo-li:not(:last-child) {
  margin-right: 30px;
}
.ul3 {
  display: flex;
  list-style: none;
  padding-top: 30px;
  padding-bottom: 154px;
}
.Ul-li3:not(:last-child) {
  margin-right: 30px;
}

.footer-address {
  padding-top: 20px;
  padding-bottom: 9px;
}

.footer-ul {
  display: block;
  list-style: none;
}
.footer-contact {
  padding-top: 9px;
}

.photo-li {
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.75);
}

.portfolio1-img {
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.75);
}

.Ul-li3 {
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.75);
}
body {
  font-family: "raleway";
}
/* .portfolio-item {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.portfolio-item img {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.overlay-text {
  color: white;
  padding: 20px;
  text-align: center;
  font-size: 14px;
}

.portfolio-item:hover .overlay {
  opacity: 1;
} */
.portfolio-item {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  color: white;
  padding: 20px;
  transform: translateY(100%);
  transition: transform 0.5s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.portfolio-item:hover .overlay {
  transform: translateY(0);
}
