.ul-a {
  margin-right: 30px;
  margin-left: 10px;
}

.phone {
  width: 10px;
  height: 16px;
  margin-right: 10px;
}

.ul-a2 {
  width: 122px;
  height: 16px;
}

.glub {
  display: flex;
  list-style: none;
}

.liop:not(:last-child) {
  margin-right: 40px;
}

.brows {
  width: 20px;
  height: 20px;
}

.us-ul {
  display: flex;
  list-style: none;
}

.klin {
  width: 106px;
  height: 60px;
}

.klin {
  margin-left: 94px;
}

.alw-users {
  text-align: center;
  padding-bottom: 44px;
}

.icons {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
}
.icon:not(:last-child) {
  margin-right: 10px;
}
.icon {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  padding: 12px;
}
.icon:hover svg {
  fill: #fff;
}
.icon:hover {
  background-color: #2196f3;
  cursor: pointer;
}
.list-clients {
  display: flex;
  list-style: none;
}

.always-clients {
  text-align: center;
  margin-top: 94px;
}

.client {
  width: 170px;
  margin-top: 50px;
  text-align: center;
  border-top: 3px;
  border-bottom: 3px;
  border-right: 3px;
  border-left: 3px;
  border-style: solid;
  border-color: #757575;
  margin-bottom: 94px;
}

.client:not(:last-child) {
  margin-right: 30px;
}
.client:hover svg {
  fill: #2196f3;
}
.client:hover {
  border-color: #2196f3;
}

.svgs {
  fill: #afb1b8;
  width: 170px;
  height: 92px;
}

.join {
  color: #fff;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  height: 10px;
}

.join-to {
  display: flex;
  align-items: center;
  margin-left: 156px;
  height: 200px;
}

.svgf {
  width: 20px;
  height: 20px;
}

.join-icon {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  padding: 12px;
}
.join-icons {
  display: flex;
  flex-direction: row;
  align-items: first baseline;
  width: 300px;
  list-style: none;
}
.join-icon:hover svg {
  fill: #fff;
}
.join-icon:hover {
  background-color: #2196f3;
  cursor: pointer;
}
.join-icon:not(:last-child) {
  margin-right: 10px;
}
