.footer-ul {
  display: block;
  list-style: none;
}
.footer-address {
  padding-top: 20px;
  padding-bottom: 9px;
}

.footer-contact {
  padding-top: 9px;
}
.footer {
  background-color: var(--charch);
}
.footer {
  height: 252px;
  background-color: #2f303a;
}

.footerinfo {
  display: flex;
}

.footer1 {
  margin-right: 70px;
}

.footer2 {
  margin-top: 72px;
  text-transform: uppercase;
}

.name-forfooter {
  color: #fff;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.svg-footer {
  width: 20px;
  height: 20px;
  stroke: #ffffff;
  fill: #ffffff;
}

.list-svg-footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.item-svg-footer {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  padding: 12px;
  background-color: rgba(255, 255, 255, 0.1);
  margin-right: 10px;
  list-style: none;
}

.item-svg-footer:hover {
  background-color: #2196f3;
}

.item-svg:hover svg {
  fill: #fff;
}

.footer-nav {
  padding-top: 60px;
}

.footer-nav-logo {
  color: var(--logo-colour);
  padding-bottom: 20px;
}

.footer-logo abbr {
  color: #fff;
  font-family: Raleway;
}

.footer-logo {
  list-style: none;
}

.footer-adress {
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.42px;

  padding-top: 9px;
  list-style: none;
}

.webh2 {
  color: #2196f3;
  font-family: Raleway;
}

.footer-adress a {
  color: #fff;
}

.footer-mail {
  padding-bottom: 9px;

  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.42px;
  list-style: none;
}

.footer-mail a {
  color: rgba(255, 255, 255, 0.6);
}

.footer-phone {
  color: rgba(255, 255, 255, 0.6);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.42px;
  list-style: none;
  width: 231px;
  padding-top: 9px;
  padding-bottom: 60px;
}

.footer-phone a {
  color: rgba(255, 255, 255, 0.6);
}
.footer-3 {
  padding-top: 72px;
  margin-left: 93px;
}
.footer-input {
  width: 358px;
  height: 50px;
  border-color: #fff;
  background-color: #2f303a;
  color: #757575;
}
.footer3-button {
  width: 150px;
  height: 50px;
  background-color: #2196f3;
  color: #fff;
}
.div-p {
  color: #fff;
  font-size: 15px;
}
