// %flex {
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }

// %webstud1 {
//   @media screen and (min-width: 768px) {
//     font-family: "Raleway";
//     font-style: normal;
//     font-weight: 700;
//     font-size: 24px;
//     line-height: 28px;
//     letter-spacing: 0.03em;
//   }
//   @media screen and (min-width: 1200px) {
//     font-family: Raleway;
//     font-size: 26px;
//     font-style: normal;
//     font-weight: 700;
//     line-height: normal;
//     letter-spacing: 0.78px;
//   }
// }

.portfolio1-ul {
  display: flex;
  list-style: none;
}
.footer-ul {
  display: block;
  list-style: none;
}
.footer-contact {
  padding-top: 9px;
}
%container {
  margin: 0 auto;
  padding: 0 15px;
}

%flex-center {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
