$prymary-color: #2196f3;
$white-color: #ffffff;
$text-color: #212121;
$grey-text: #757575;
$colorBeliy: #f5f4fa;
$colorChorn: #000000;
$colorCharch: #2f303a;
$colorGrey: #c4c4c4;
$colorWhit: #ececec;
$font-family: "Roboto", sans-serif;
$container-desktop: 1170px;
$container-tablet: 738px;

$bp-tablet: 768px;
